<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <jmxConfigurator />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/hello-world.log</File>
        <encoder>
            <Pattern>%d{ISO8601} | %-5p | %-10t | %c{1} | %C | %m%n</Pattern>
        </encoder>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
